Repository microsoft/ignite-learning-paths-training-aiml, pull requests merged in 2019-12, with the labels that each got.

#43 Demo setup step update
  aiml50/DEMO.md
  aiml50/SpeakerNotes.md
  aiml50/source/seer_pipeline.ipynb
  aiml50/source/train.py
Labels: pending validation

#45 Update README.md for better localization
  aiml10/README.md
Labels: documentation, enhancement, pending validation

#54 Clarify source of images in AIML20 demo setup
  aiml20/DEMO Setup.md
  aiml20/README.md
Labels: aiml20, documentation, enhancement

#53 added python notebook to test api, updated photo, and added instructions to run python notebook
  aiml30/Python/ignite-ailml30-get-prediction.ipynb
  aiml30/README-Attendee.md
  aiml30/README-Presenter.md
Labels: aiml30, documentation, pending validation
